process {
    executor = 'awsbatch'
    queue = 'nf-job-queue'
    scratch = '/mnt/efs/fs1/tmp'
}

aws {
    region = 'us-east-1'
    batch {
      cliPath = '/home/ec2-user/miniconda/bin/aws'
      volumes = '/mnt/efs/fs1'
      maxParallelTransfers = 8
    }
    client.maxConnections = 4
}

params {
  // Input data
  //readPathsFile = "/mnt/efs/fs1/rnaseq/data/read_paths_GEUVADIS_GBR20.tsv"
  //readPathsFile = "s3://fsimonetti-nfdata/input/s3_paths_GEU_20.txt"
  readPathsFile = "s3://fsimonetti-nfdata/input/GEUVADIS_1kgIDS_full_urls_TEST.txt"
  // Genome references
  unstranded = true
  //outdir = "/mnt/efs/fs1/results/test_GEUVADIS_20samples"
  outdir = "s3://fsimonetti-nfdata/outdir_mbv_test"
  //workdir = "s3://fsimonetti-nfdata/workdir"

  run_ge_quant = true
  run_salmon = true
  run_txrevise = false
  run_leafcutter = false
  run_exon_quant = true
  mbv_vcf = "s3://fsimonetti-nfdata/1kGP/1kGP_high_coverage_Illumina.ALL_CHR.filtered.SNV_INDEL_SV_phased_panel.vcf.gz"
  run_mbv = true

  saveReference = false
  saveTrimmed = false
  saveAlignedIntermediates = true
  saveIndividualQuants = true
  saveInfoLogs = true

}

trace {
  overwrite = true
}

dag {
 overwrite = true
}

timeline {
 overwrite = true
}

report {
 overwrite = true
}
