process {
    executor = 'awsbatch'
    queue = 'nf-job-queue'
    scratch = '/tmp'
}

aws {
    region = 'us-east-1'
    batch {
      cliPath = '/home/ec2-user/miniconda/bin/aws'
      maxParallelTransfers = 20
      volumes = '/home/ec2-user'
    }
    client.maxConnections = 20
    maxErrorRetry = 3
}

env {
    AWS_MAX_ATTEMPTS = 2
}

// How to create SRA list file
// aws s3 ls s3://fsimonetti-sra | grep SRR | awk '{ print $2}' | sed 's/\///g' > SRR_list.txt
// for s in `cat SRR_list.txt` ; do echo -e "${s}\ts3://fsimonetti-sra/${s}/${s}" >> GTEx_SRA_S3paths.txt; done

params {
  // Input data
  readSRRAccFile = "s3://fsimonetti-nfdata/input/GTEx_SRA_S3paths.txt"
  // readSRRAccFile = "s3://fsimonetti-nfdata/input/test_paths.txt"
  // readPathsFile = "s3://fsimonetti-nfdata/input/GTEx_SRA_S3paths.txt"
  // Genome references
  unstranded = true
  outdir = "s3://fsimonetti-nfdata/outdir_GTEx_LCL_full_new"
  //workdir = "s3://fsimonetti-nfdata/workdir"

  run_ge_quant = true
  run_salmon = false
  run_txrevise = false
  run_leafcutter = false
  run_exon_quant = true
  mbv_vcf = "s3://fsimonetti-nfdata/GTEx/GTEx_v8_chr22.vcf.gz"
  mbv_vcf_index = "s3://fsimonetti-nfdata/GTEx/GTEx_v8_chr22.vcf.gz.tbi"
  run_mbv = true

  saveReference = false
  saveTrimmed = false
  saveAlignedIntermediates = false
  saveIndividualQuants = true
  saveInfoLogs = true

}

trace {
  overwrite = true
}

dag {
 overwrite = true
}

timeline {
 overwrite = true
}

report {
 overwrite = true
}
