// wave {
//   enabled = true
//   freeze = true
// }

singularity {
  enabled = true
  autoMounts = true
  cacheDir = "$baseDir/singularity_img/"
}

executor {
    name = 'slurm'
    queueSize = 50
    submitRateLimit = 1
}

process {
  executor = 'slurm'
  queue = 'long'
  module = 'singularity/3.7.1'
}

params {
  max_memory = 120.GB
  max_cpus = 16
  max_time = 100.h
  
}

params {
  // Input data
  // readSRRAccFile = // This downloads from SRA with my custom script
  // This uses downloaded fastqs
  readPathsFile = "/biodata/franco/transcriptomics/rnaseq/data/GTEx_LCL_biodata_paths_shortIDs.txt"
  // Genome references
  unstranded = true
  outdir = "/biodata/franco/datasets/gtex_v8/reprocess/data_100124/LCL/output"
  //workdir = "s3://fsimonetti-nfdata/workdir"

  run_ge_quant = true
  run_salmon = false
  run_txrevise = false
  run_leafcutter = false
  run_exon_quant = true
  mbv_vcf = "/biodata/franco/datasets/gtex_v8/genotypes/latest_20122023/processed/annotated_vcfs/GTEx_Analysis_2021-02-11_v9_WholeGenomeSeq_944Indiv_Analysis_Freeze.SHAPEIT2_phased.chr1.biallelic.MAF_0.01.updated.for_MBV_nochr.vcf.gz"
  mbv_vcf_index = "/biodata/franco/datasets/gtex_v8/genotypes/latest_20122023/processed/annotated_vcfs/GTEx_Analysis_2021-02-11_v9_WholeGenomeSeq_944Indiv_Analysis_Freeze.SHAPEIT2_phased.chr1.biallelic.MAF_0.01.updated.for_MBV_nochr.vcf.gz.tbi"
  run_mbv = true

  saveReference = false
  saveTrimmed = false
  saveAlignedIntermediates = false
  saveIndividualQuants = true
  saveInfoLogs = true

}

trace {
  overwrite = true
}

dag {
 overwrite = true
}

timeline {
 overwrite = true
}

report {
 overwrite = true
}
