/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/rnaseq -profile test
 */

process {
    scratch = '/tmp'
}

params {
  // Input data
  readSRRAccFile = "s3://fsimonetti-nfdata/input/GTEx_SRA_S3paths.txt"
  // readPathsFile = "s3://fsimonetti-nfdata/input/GTEx_SRA_S3paths.txt"
  // Genome references
  unstranded = true
  outdir = "s3://fsimonetti-nfdata/outdir_GTEx_test"
  //workdir = "s3://fsimonetti-nfdata/workdir"

  // Reference annotations
  // hisat2_index = "rnaseq_complete_reference/hisat2_v2.2.1_index_v105/Homo_sapiens.GRCh38.dna.primary_assembly.hisat2_index"
  // gtf_hisat2_index = "rnaseq_complete_reference/Ensembl_105/Homo_sapiens.GRCh38.105.gtf"
  // gtf_fc = "rnaseq_complete_reference/GENCODE_v39/gencode.v39.annotation.nochr.gtf"
  // fasta = "rnaseq_complete_reference/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
  // txrevise_gffs = 'rnaseq_complete_reference/Homo_sapiens.GRCh38.105.txrevise.CAGE25/*.gff3'
  // tx_fasta = "rnaseq_complete_reference/GENCODE_v39/gencode.v39.transcripts.fa"

  run_ge_quant = true
  run_salmon = true
  run_txrevise = false
  run_leafcutter = false
  run_exon_quant = true
  mbv_vcf = "s3://fsimonetti-nfdata/GTEx/GTEX_v8_2020-02-21_WGS_838Indiv_Freeze.SHAPEIT2_phased_NoMissingGT_SNPfilter_MAF0.01_chr22.vcf.gz"
  mbv_vcf_index = "s3://fsimonetti-nfdata/GTEx/GTEX_v8_2020-02-21_WGS_838Indiv_Freeze.SHAPEIT2_phased_NoMissingGT_SNPfilter_MAF0.01_chr22.vcf.gz.tbi"
  run_mbv = true

  saveReference = false
  saveTrimmed = false
  saveAlignedIntermediates = false
  saveIndividualQuants = true
  saveInfoLogs = true

}

trace {
  overwrite = true
}

dag {
 overwrite = true
}

timeline {
 overwrite = true
}

report {
 overwrite = true
}
