/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/rnaseq -profile test
 */

process {
    scratch = '/mnt/efs/fs1/tmp'
}

params {
  // Input data
  readPathsFile = "data/read_paths_GEUVADIS_GBR20.tsv"
  // Genome references
  unstranded = true
  // outdir = "results/test_GEUVADIS_20samples"
  outdir = "/mnt/efs/fs1/results/test_GEUVADIS_3samples_LOCAL"

  // Reference annotations
  hisat2_index = "rnaseq_complete_reference/hisat2_v2.2.1_index_v105/Homo_sapiens.GRCh38.dna.primary_assembly.hisat2_index"
  gtf_hisat2_index = "rnaseq_complete_reference/Ensembl_105/Homo_sapiens.GRCh38.105.gtf"
  gtf_fc = "rnaseq_complete_reference/GENCODE_v39/gencode.v39.annotation.nochr.gtf"
  fasta = "rnaseq_complete_reference/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
  txrevise_gffs = 'rnaseq_complete_reference/Homo_sapiens.GRCh38.105.txrevise.CAGE25/*.gff3'
  tx_fasta = "rnaseq_complete_reference/GENCODE_v39/gencode.v39.transcripts.fa"

  run_ge_quant = true
  run_salmon = true
  run_txrevise = true
  run_leafcutter = false
  run_exon_quant = true
  mbv_vcf = "some_value"

  saveReference = true
  saveTrimmed = true
  saveAlignedIntermediates = true
  saveIndividualQuants = true
  saveInfoLogs = true

}

trace {
  overwrite = true
}

dag {
 overwrite = true
}

timeline {
 overwrite = true
}

report {
 overwrite = true
}
